/*Main containers*/

body {
    display: flex;
    margin: 1em 0 0;
    /*    color: #c6c8c8;*/
    height: 96vh;
    flex-flow: column;
/*    align-items: center;*/
}


#content {
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    flex: 1;
/*    max-width: 93.4%;*/
}

/*References*/

.refs {
/*    border: 2px #d6d6d6 dotted;*/
    border-radius: 7px;
    margin: .5em;
    flex: 1;
}

.refpic {
    max-height: 100px;
    width: auto;
}



/*Nav bar*/

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

button {
    font-size: 2em;
    border: inherit;
    color: inherit;
    width: 100%;
    /*    padding: 2em;*/
    margin: 0 7em;
}


/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/

.hostFontColor {}

.hostFontFamily {}

.hostFontSize {}

/*font family, color and size*/

.hostFont {}

/*background color*/

.hostBgd {}

/*lighter background color*/

.hostBgdLight {}

/*darker background color*/

.hostBgdDark {}

/*background color and font*/

.hostElt {}


.hostButton {
    border: 1px solid;
    border-radius: 2px;
    height: 20px;
    vertical-align: bottom;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}
