/*Main containers*/

body {
    display: flex;
    margin: 1em 0 0;
    /*    color: #c6c8c8;*/
    height: 96vh;
    flex-flow: column;
    align-items: center;
}


#content {
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    flex: 1;
}

/*References*/

.refs {
    border: 2px #d6d6d6 dotted;
    border-radius: 7px;
    margin: .5em;
   /* width: 100%;
    height: 100%;*/
    flex: 1;
}

.refpic {
    max-height: 100px;
    width: auto;
}

/*JQuery UI Styles*/
.ui-selected,
.ui-droppable-hover {
    border: 2px #6fb5f1 solid;
    box-shadow: 0 0 10px 2px #6fb5f1;
}

.ui-selecting {
    box-shadow: 0 0 10px 2px #6fb5f1;
}

.ui-selectable-helper {
    border: 1px #d6d6d6 dashed;
    border-radius: 7px;
}



/*Nav bar*/

nav {
    /*    margin: 1em 0 0;*/
    width: 100%;
    display: flex;
    justify-content: space-around;
}

button {
    font-size: 2em;
    border: inherit;
    color: inherit;
    width: 100%;
    /*    padding: 2em;*/
    margin: 0 7em;
}


/*How-to Div*/

.intro,
.intro li {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    white-space: normal;
    line-height: inherit;
    text-align: center;
}

.intro span,
.intro p {
    font-size: 1.6em;
}

.intro li {
    margin: 1em auto;
    list-style: none;
    width: 120px;
    height: 120px;
    border: 2px #c6c8c8 dashed;
    border-radius: 7px;
    padding: .5em;
    transition: border 150ms linear, box-shadow 150ms linear;
}

.highlight {
    border: 2px #6fb5f1 solid;
    box-shadow: 0 0 10px 2px #6fb5f1;
    transition: border 150ms linear, box-shadow 150ms linear;
}


/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/

.hostFontColor {}

.hostFontFamily {}

.hostFontSize {}

/*font family, color and size*/

.hostFont {}

/*background color*/

.hostBgd {}

/*lighter background color*/

.hostBgdLight {}

/*darker background color*/

.hostBgdDark {}

/*background color and font*/

.hostElt {}


.hostButton {
    border: 1px solid;
    border-radius: 2px;
    height: 20px;
    vertical-align: bottom;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}
